<form action="/authenticate" method="POST">
    <h1>Login to test page</h1>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Submit">
</form>